@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #4b8ef1;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(214, 214, 214, 0.808);
}

.page-title {
  text-align: center;
  margin-top: 100px;
}
